
html, body{
    margin: 0px;
    background-color: #2f4f30;
    color: aliceblue;
}

.titulo{
    text-align: center;
    background-color: black;
    color: aliceblue;
    padding: 20px ;
    font-size: 25px;
}

.carta{
    position: relative;
    width: 150px;
    left: 150px;
    margin-left: -75px;

}

#jugador-cartas, #jugador-cartas{
    height: 250px;
}